/* import if needed */
@import '@flaticon/flaticon-uicons/css/regular/all';
/* @import '@flaticon/flaticon-uicons/css/solid/all';*/
@import '@flaticon/flaticon-uicons/css/thin/rounded';
@import '@flaticon/flaticon-uicons/css/brands/all';
@import '@flaticon/flaticon-uicons/css/thin/straight';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ########################################
############# BASE STYLING ################
######################################## */

* {
  font-family: 'Core Sans C', sans-serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-[32px]/[130%] font-extrabold text-primary;
}

h2 {
  @apply text-[32px]/[130%] font-semibold text-primary;
}
h3 {
  @apply text-[20px]/[130%] text-primary;
}
h4 {
  @apply text-[16px]/[130%] text-primary;
}

p {
  @apply text-base/[170%] text-primary;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  @apply w-full rounded-[10px] bg-light-200 p-4 focus:outline-none;
}

button {
  @apply py-1 focus:outline-none;
}

/* ########################################
########## COMPONENTS STYLING #############
######################################## */

.active {
  @apply text-secondary;
}

.active-event {
  @apply h-4 w-4 animate-pulse rounded-full bg-secondary;
}

.megaMenu {
  @apply container absolute top-52 z-[9999] w-full divide-x divide-tertiary rounded-[18px] bg-light-200 px-[55px] py-[50px] opacity-0 shadow-[0_55px_30px_-28px_rgba(0,0,0,0.25)];
}

.calendar-container {
  @apply hidden h-[430px] w-full max-w-[524px] self-start rounded-[10px] border border-tertiary xl:block;
}

.vanilla-calendar-wrapper {
  @apply h-[calc(100%-5rem)];
}
.vanilla-calendar-day {
  @apply h-full;
}

.vanilla-calendar-header {
  @apply p-4;
}

/* ########################################
######### UTILITIES STYLING ###############
######################################## */

.roundedBox {
  @apply space-y-6 rounded-[18px] bg-light-200 p-[54px];
}

.roundedBorderBox {
  @apply rounded-[18px] border border-tertiary px-[42px] py-[30px];
}

.outlinedButton {
  @apply h-[55px] border border-redish font-medium text-redish duration-200 hover:bg-redish hover:text-white;
}

.filledButton {
  @apply h-[55px] bg-redish font-medium text-white duration-200 hover:bg-redish-100/80;
}

.blogListItem {
  @apply rounded-[5px] border border-redish px-[15px] py-[5px] text-redish;
}

/* ########################################
############# CUSTOM FONTS ################
######################################## */

@layer base {
  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-15Thin.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-15ThinIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-25ExtraLight.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-25ExtraLightIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-35Light.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-35LightIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-45Regular.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-45RegularIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-55Medium.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-55MediumIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-65Bold.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-65BoldIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-75ExtraBold.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-75ExtraBoldIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-85Heavy.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-85HeavyIt.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-95Black.ttf');
  }

  @font-face {
    font-family: 'Core Sans C';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('@assets/fonts/CoreSansC-95BlackIt.ttf');
  }
}
